.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgb(175, 216, 248);
  display: inline-block;
  color: white;
  font-size: 60%;
  text-align: center;
  vertical-align: top;
}

.node-finish {
  background-color: red;
  color: red;
}

.node-start {
  background-color: green;
  color: green;
}

.node-visited {
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

%visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(180, 218, 224, 0.75);
    color: black;
  }
}
/* stage 0*/
.node-visited.s0 {
  animation-name: visitedAnimation0;
}

@keyframes visitedAnimation0 {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(180, 218, 224, 0.75);
    color: black;
  }
}

/* stage 1*/
.node-visited.s1 {
  animation-name: visitedAnimation1;
}

@keyframes visitedAnimation1 {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(120, 218, 224, 0.75);
    color: black;
  }
}

/* stage 2*/
.node-visited.s2 {
  animation-name: visitedAnimation2;
}

@keyframes visitedAnimation2 {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(60, 218, 224, 0.75);
    color: black;
  }
}

/* stage 3*/
.node-visited.s3 {
  animation-name: visitedAnimation3;
}

@keyframes visitedAnimation3 {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
    color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
    color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 218, 224, 0.75);
    color: black;
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
    color: black;
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
    color: black;
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
    color: black;
  }
}
